.task-navigation {
    font-family: "Roboto", sans-serif;
    text-align: center;
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 2rem;
    line-height: 5rem;
    overflow: hidden;
}
.task-navigation__title {
    padding: 1rem;
    background-color: crimson;
    color: #ddd;
    font-weight: 600;
    font-size: 2.4rem;
    font-style: italic;
    letter-spacing: 1.4px;
    word-spacing: 5px;
}

.task__item {
    border-top: 2px solid #333;
}
.task__link {
    display: block;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    color: #333;
    background-color: #ddd;
    transition: all 0.1s linear;
}
.task__link:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: crimson;
}
